.card {
  /* height: 50vh; */
  width: 600px;
  position: relative;
  background-color: #ffff;
  padding: 20px;
  max-width: 85vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: 10%, 18%, 18, 18%, 18%, 18%;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f";
}

.card_container {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.swipe {
  position: absolute;
}

.card h3 {
  position: absolute;
  top: 4rem;
  left: 2rem;
  text-shadow: 1.5px 1.5px 3px black;
  color: #fff;
}

.card_container .grid-item:nth-child(1) {
  grid-area: a;
}
.card img {
  height: 100px;
  width: 100%;
  filter: blur(5px);
}
