.buttons {
  width: 100%;
  position: fixed;
  bottom: 5vh;
  display: flex;
  justify-content: space-evenly;
}

.swipeLeft_icon,
.rewind_icon,
.swipeRight_icon {
  background-color: white;
  box-shadow: 0 10px 53px 0px rgba(0, 0, 0, 0.3);
  /* padding: 3vw; */
  border-radius: 50px;
}
