.body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 900;
}

.profile-container {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
}

.profile-menu {
  height: 500px;
  width: 600px;
  font-size: 16px;
  padding: 40px 40px;
  background: #434856;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 48px;
}

.profile-footer {
  width: 100%;
  position: fixed;
  bottom: 5vh;
  display: flex;
  justify-content: space-evenly;
}
.profile-logout {
  display: flex;
  align-items: center;
  color: red;
}
